{
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "quoteProps": "preserve",
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
